@import "styles";


// 코드 블럭 스타일
pre {
    display: block;
    padding: 16px;
    overflow-x: auto;
    font-family: 'Courier New', monospace;
    font-size: 1em;
    background-color: #7b817ac2;
    border: 1px solid #000000;
    border-radius: 4px;
}

code {
    font-family: 'Courier New', monospace;
    font-size: 1em;
    color: rgba(3, 20, 76, 0.334);
}